//Essential
.progChart {
  canvas {margin: 0 auto;}
  &.-type-donut.-label-centered {
    .progChart__summary {
      position: absolute;
      top: 33%;
      display: block;
      width: 100%;
      text-align: center;
      .progChart__summary__number {
        font-family: "Brandon Grotesque";
        font-size: 1.5em;
        margin: 0;
      }
    }
  }
}
//Throw Away

.misc-wrap {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  padding: 20px 0;
  border-radius: 10px;
  p {
    text-align: center;
    a {color: #FFF;}
  }
}
